.title {
    font-size: 200%;
    color: gray;
}

.title {
    padding: 3%;
}

.container {
    display: flex;
    width: 60%;
    height: 500px;
    flex-flow: row wrap;
    padding-left: 3%;
    justify-content: space-between;
}

.input-na {
    padding-left: 12px;
    width: 40%;
    height: 50px;
    border: 1px solid #ccc;
}

.input-sm {
    padding-left: 12px;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
}

#mess-textare {
    padding-top: 10px;
    height: 200px;
}