.input-data {
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.input-filter {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#titleInput {
  display: flex;
  justify-content: center;
}

#listInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#gradeHeader {
  all: unset;
  cursor: pointer;
}

.container {
  width: 700px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
